<!-- start Footer section -->


<footer class="footer-14398">

    <div class="container">
        <div class="row mb-5">
            <div class="col-md-3">
                <a href="#" class="footer-site-logo">WhisperNest</a>
                <p>Gather the soft whispers of your mind in one place, where every fleeting thought finds a home, a name, and wings to be heard.
</p>
            </div>
            <div class="col-md-2 ml-auto">
                <h3>Shop</h3>
                <ul class="list-unstyled links">
                    <li><a href="#">Sell online</a></li>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Examples</a></li>
                    <li><a href="#">Website editors</a></li>
                    <li><a href="#">Online retail</a></li>
                </ul>
            </div>
            <div class="col-md-2 ml-auto">
                <h3>Press</h3>
                <ul class="list-unstyled links">
                    <li><a href="#">Events</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">Awards</a></li>
                    <li><a href="#">Testimonials</a></li>
                    <li><a href="#">Online retail</a></li>
                </ul>
            </div>
            <div class="col-md-2 ml-auto">
                <h3>About</h3>
                <ul class="list-unstyled links">
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Team</a></li>
                    <li><a href="#">Career</a></li>
                    <li><a href="#">Contacts</a></li>
                </ul>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-12 pb-4">
                <div class="line"></div>
            </div>
            <div class="col-md-6 text-md-left">
                <ul class="list-unstyled link-menu nav-left">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms &amp; Conditions</a></li>
                    <li><a href="#">Code of Conduct</a></li>
                </ul>
            </div>

            <div class="col-md-6 text-md-right">
                <ul class="list-unstyled social nav-right">
                    <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-square-facebook"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-7">
                <p><small>Stitch your thoughts together in a flowing patchwork of insight, passion, and wonder—each note a verse, each verse a voice.!</small></p>
            </div>
        </div>
    </div>

    </div>
</footer>